body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  */

  /* background em uma só linha: color image repeat position/size*/

  background: url(./assets/bg-mobile.jpg) no-repeat center/cover;
}

#container {
  width: 360px;
  border: 2px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}
#profile img {
  width: 112px;
}
